@font-face {
  font-family: custom;
  font-style: normal;
  font-weight: 300;
  src: url(Sarala-Bold.ttf);
}

div.POI {
  font-family: custom;
  background-color: #FF530D;
  max-width: 100%;
  height: 100px;

}

div.bodyInfo {
  padding-top:50px;
  padding-left: 400px;
}
