div.linkBar {
    width: 100%;
    height: 50px;
    background-color: #65797F;
    border-left-color: #39517F;
    border-left: solid 5px;
    font-style: bold;
    font-size: 4;
}
div.link {
  float: left;
  padding-top: 15px;
  min-width: 100px;
  max-width: 400px;
  text-align: center;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  background-color: #39517F;
}

body {
  background-color: #3F6E7F;
}
