@font-face {
  font-family: custom;
  font-style: normal;
  font-weight: 300;
  src: url(Sarala-Bold.ttf);
}

div.POI {
  font-family: custom;
  background-color: #FF530D;
  max-width: 100%;
  height: 100px;

}

a.LinkMain {
  text-decoration: none;
}

a.LinkMain:hover {
  text-decoration: underline;
  background-color: skyblue;
}

div.bodyInfo {
  padding-top: 50px;
  max-width: 50%;
  align-items: center;

}
