@font-face {
  font-family: custom;
  font-style: normal;
  font-weight: 200;
  src: url(Sarala-Regular.ttf);
}
div.name {
  color: palegoldenrod;
  font-size: 30pt;
  font-family: custom;
  width:100%;
  height: 200px;
  padding-top: 5px;
  padding-bottom: 30px;
  background-position: 50% 0%;
  background-image: url("Banner-gaming.PNG");
  text-align: center;
}

body {
  color: aliceblue;
  background-image: url(http://eskipaper.com/images/portal-wallpaper-5.jpg);
}

div.linkBar {
    width: 100%;
    height: 50px;
    background-color: #65797F;
    border-left-color: #39517F;
    border-left: solid 5px;
    font-style: bold;
    font-size: 4;
}

div.link {
  float: left;
  padding-top: 15px;
  min-width: 100px;
  max-width: 400px;
  text-align: center;
}

.link a {
  text-decoration: none;
}

.link a:hover {
  background-color: #39517F;
  font-weight: bold;
}

a:visited {
  text-color: purple;
}

footer{
  padding-right: 250px;
  position:absolute;
  bottom:0;
  right:0;
  left:0;
  background-color: #65797F;
}
